body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://phonoteka.org/uploads/posts/2021-06/1624023724_22-phonoteka_org-p-kosmos-oboi-krasivo-23.jpg);

}

.company-name{
    color: #4A00E0;
    font-weight: bold;
}

.registr-log{
text-align: center;

}

 
input[type="text"] {
margin-bottom: 20px;
padding-bottom: 10px;
padding-top: 10px;
border: none;
outline: none;

}

.inputr{
    font-size: 20px;
        color: white;
        background: linear-gradient(to left, #8E2DE2, #4A00E0, #8E2DE2);
        text-decoration: none;
        padding: 5px;
        
        border-radius: 5px;
        background-size: 200%;
        transition: .5s;
        border-width: 5cm;
    
  }

  .inputr:hover {
      background-position: right;
  }

.bbra{
    font-size: 20px;
    color: white;
    background: linear-gradient(to left,#8E2DE2, #4A00E0,#8E2DE2);
    text-decoration: none;
    padding: 10px 40px;
    border-radius:  5px;
    background-size:200% ;
    transition: .5s;
    border-width: 5cm;
}
.bbra:hover{
    background-position: right;
}

.start{
    color: #8E2DE2  ;
}

::-webkit-input-placeholder {
   
    color: white;
}




